page-home {
    .item{
       
        p.desc
        {
            font-size: 0.8em;            
        }

    }

    /*.item ion-avatar {
        min-width: 4rem;    
        min-height: 5rem;
        img {
            max-width: 4rem;    
            min-width: 4rem;
        }
    }
*/
    .text-size
    {

        font-size: 0.9em;        
    }
    .red{
        color: firebrick;
        font-weight: bold;
    }
  

}
